html{
    height: 100%;
}

/*====== BODY ======*/

body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.body-home{
    background-color:#F7F6F2 ;
}

.body-food{
    background-image: url('images/background-02-land.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



/*====== HEADER ======*/

.header{
    background-color: #F7F6F2;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    overflow: hidden;
    text-align: center;
}

.header img{
    height:50px;
    padding-right: 25px;
}

.header i{
    float: left;
    color: darkgrey;
    padding: 17px 0px 0px 17px;
}

/*====== HOME-BODY ======*/
.home-menu-items{
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border: 5px solid grey;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 80%;
}

#body-home-image{
    width: 300px;
    display: block;
    margin: auto;
    padding: 25px 10px 10px 10px;
}

.body-home h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 70px;
    text-align: center;
    margin: auto;
    padding: 25px;
    color: grey;
}

/*====== MEALS ======*/

.body-meals{
    background-image: url('images/background-02-port.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#meals{
    padding:50px
}

.meal-list-item{
    border: 5px solid black;
    margin: 10px;
}

.meal-list a{
    text-decoration: none;
}

.meal-list-item h1{
    font-weight: bold;
    color: #2D2424;
    padding-left: 10px;
    font-size: 25px;
}

.meal-list-item p{
    font-style: italic;
    padding-left: 10px;
    font-size: 15px;
    color: #6F4C5B;
    margin-top: -10px;
}

.meal-list-item i{
    float:right;
    padding-right: 10px;
    padding-top: 13px;
}

/*====== FOOD ======*/

.food-details img{
    width: 100%;
}

.food-details h1{
    font-size: 25px;
    text-align: center;
    border: 5px solid black;
    margin: 10px;
    padding: 5px;
}

.food-details-info{
    margin-left: 25px;
    margin-right: 25px;
}

.food-details-info p{
    font-size: 13px;
}


#food{
    padding-top: 50px;
}

.food-details-options h2{
    text-align: left;
    font-size: 20px;
    margin: 0;
    margin-left: 10px;
}

.food-details-options input{
    margin-left: 10px;
    line-height: 20px;
}

textarea{
    width: 60%;
    border: 2px solid light;
    height: 50px;
    margin-left: 10px;
}

.button{
    display: block;
    width:100%;
    background-color: black;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin: 12px 0;
    padding: 8px 0;
}

/*====== ORDER-THANK YOU-PAGE ======*/

.content{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 50px;
    border: 5px solid #F0EEC8;
    margin-left: 25px;
    margin-right: 25px;
    background: black;
}

.body-thankyou{
    background-color: #EBF1F5;
}

.go-home{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 40px;
}

/*=== MEDIA QUARIES ===*/

@media only screen and (min-width:600px){
    #meals{
        width:80%;
        margin:auto;
    }

    #recipe{
        width:80%;
        margin:auto;
    }
    
}

@media only screen and (min-width:1000px){
    #meals{
        width:60%;
        margin:auto;
    }

    #recipe{
        width:60%;
        margin:auto;
    }
    
}

@media only screen and (min-width:1500px){
    #meals{
        width:40%;
        margin:auto;
    }

    #recipe{
        width:40%;
        margin:auto;
    }
    
}

@media only screen and (min-width:1500px){
    .body-meals{
        background-image: url('images/background-02-land.png');
    }
}
